<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.js" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB"
          crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB"
          crossorigin="anonymous">
    <title>Home Page</title>
</head>
<body>
<!-- NavBar Component Code -->
<nav class="navbar navbar-expand-sm navbar-dark bg-primary mb-4">
    <div class="container">
        <a class="navbar-brand" href="Dashboard.html">
            Poisson Editing
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mobile-nav">
            <span class="navbar-toggler-icon" />
        </button>

        <div class="collapse navbar-collapse" id="mobile-nav">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/">
                        Dashboard
                    </a>
                </li>
            </ul>

            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link " href="/registration">
                        Sign Up
                    </a>
                </li>
                <th:block th:if="${session == null||session.user==null}">
                    <li class="nav-item">
                        <a class="nav-link" href="/login">
                            Login
                        </a>
                    </li>
                </th:block>
                <th:block th:if="${session.user!=null}">
                    <li class="nav-item">
                        <a class="nav-link" href="/logout">
                            Logout
                        </a>
                    </li>
                </th:block>
            </ul>
        </div>
    </div>
</nav>
<!-- End of Nav Bar -->

<!-- Login -->
<div class="login">
    <div class="container">
        <div class="row">
            <div class="col-md-8 m-auto">
                <h1 class="display-4 text-center">Log In</h1>
                <form action="/login/submit">
                    <div class="form-group">
                        <input class="form-control form-control-lg" placeholder="Username" name="username" />
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control form-control-lg" placeholder="Password" name="password" />
                    </div>
                    <th:block th:if="${message!=null}">
                        <p th:text="${message}" style="color:Tomato;"></p>
                    </th:block>
                    <input type="submit" value="Submit" class="btn btn-info btn-block mt-4" />
                </form>
            </div>
        </div>
    </div>
</div>

<!-- End of Login form -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
        crossorigin="anonymous"></script>

</body>
</html>